<table class="table table-hover fixed-table">
  <thead class="thead-default">
  <tr>
    <th width="18%">Short name</th>
    <th width="59%">Destination</th>
    <th width="8%">Clicks</th>
    <th width="5%"></th>
    <th width="5%"></th>
    <th width="5%"></th>
  </tr>
  </thead>

  <tbody>
  <% links.each do |link| %>
    <tr>
      <td class="hide-overflow"><%= link_to truncate(link.name, length: 40), link %></td>
      <td class="hide-overflow"><%= link_to truncate(link.url, length: 90), link.url %></td>
      <td><%= link.clicks %></td>
      <td class="text-center"><%= link_to(fa_icon('user-circle-o'), link.user) if link.user.present? %></td>
      <td class="text-center"><%= link_to fa_icon('pencil-square-o'), edit_link_path(link) %></td>
      <td class="text-center"><%= link_to fa_icon('trash-o'), link, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
