<div class="row">
  <div class="col-md-12">
    <h2>Editing Link</h2>
    <hr>
  </div>
  <%= render 'new_link_form', link: @link %>

  <div class="col-md-4">
    <p><strong>Domain:</strong> <%= @link.domain || 'default' %></p>
    <p>
      <strong>User:</strong>
      <%= if @link.user.present?
            link_to @link.user.email, @link.user
          else
            'empty'
          end %>
    </p>
    <p><strong>Clicks:</strong> <%= @link.clicks %></p>
    <p><strong>Created at:</strong> <nobr><%= l(@link.created_at, format: :short) %></nobr></p>
    <p><strong>Updated at:</strong> <nobr><%= l(@link.updated_at, format: :short) %></nobr></p>
  </div>
</div>